body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    padding-left: 10px;
    padding-right: 10px;

    color: var(--text-primary);
}

.emanation-row {
    display: flex;
    margin-block: 5px;
    align-items: stretch;

    .action {
        margin-left: auto;
    }
}

input.emanation-color {
    background: transparent;
    border: none;
    padding: 0;
    block-size: auto;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.emanation-size,
.emanation-unit,
.action {
    border-color: color(from var(--text-primary) srgb r g b / 0.23);
    border-width: 1px;
    border-style: solid;
}


.emanation-size {
    background-color: transparent;
    color: inherit;

    max-inline-size: 3em;
    padding-inline: 5px;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    &:hover {
        border-color: var(--text-primary);
    }

    &:focus-visible {
        outline-color: var(--primary-main);
        outline-style: solid;
        outline-width: 2px;
        border-color: transparent;
    }
}

.emanation-unit {
    display: flex;
    align-items: center;
    padding-inline: 5px;

    border-left: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    color: var(--text-secondary);
}

.action {
    border-width: 1px;
    border-style: solid;
    background: transparent;
    color: inherit;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.75;
    padding: 5px 15px;
    min-width: 100px;

    &:hover {
        background-color: color(from var(--text-primary) srgb r g b / 0.08);
    }

    &:disabled {
        color: var(--text-disabled);

        &:hover {
            background-color: inherit;
        }
    }
}

.no-edit-warning {
    color: var(--text-disabled);
}