body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#reactApp {
    padding-left: 15px;
    padding-right: 15px;
}

.color-label {
    background: none;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 5px;

    border-radius: 15px;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    /* browsers don't accept styling this element very well, so just hide it and style the label */
    &>input[type=color] {
        display: none;
    }
}