#reactApp {
    padding-left: 15px;
    padding-right: 15px;
}

.color-label {
    background: none;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 5px;

    border-radius: 15px;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    /* browsers don't accept styling this element very well, so just hide it and style the label */
    &>input[type=color] {
        display: none;
    }
}