body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.emanation-row {
    display: flex;
}

.emanation-unit {
    font-size: 0.95em;
    font-style: italic;
}

#emanation-size {
    max-width: 3em;
}

.remove-emanation, #create-emanation {
    margin-left: auto;
}

.extant-emanation-color {
    min-height: 1em;
    min-width: 3em;
    box-sizing: border-box;
    border: 1px solid white;
}