body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    color: var(--mdc-theme-text-primary-on-background);

    &.context-menu {
        padding-left: 10px;
        padding-right: 10px;
    }

    &.action {
        padding-left: 15px;
        padding-right: 15px;
    }

    --mdc-shape-small: 16px;
    --mdc-outlined-button-outline-color: color(from var(--mdc-theme-text-primary-on-background) srgb r g b / 0.23);
    --mdc-ripple-color: var(--mdc-theme-primary);
}

.control-row {
    display: flex;
    align-items: flex-end;
    margin-block: 5px;
    gap: 10px;
}

.form-control {
    min-height: 55px;
    margin-bottom: auto;
}

.form-control-label {
    display: block;
    height: 15px;

    font-size: 0.75rem;
    color: var(--mdc-theme-text-secondary-on-background);

    margin-left: 5px;
}

.color-label {
    background: none;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 5px;

    border-radius: 15px;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    /* browsers don't accept styling this element very well, so just hide it and style the label */
    &>input[type=color] {
        display: none;
    }
}

.items-aura-header {
    font-variant-caps: all-small-caps;
    color: var(--text-disabled);
    margin-block: 5px;
}

.aura-style {
    max-width: 120px;
}

.aura-opacity {
    /* width: 100px; */
}

/* Fixing how MDC hardcodes dark colors rather than using CSS vars */

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing,
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: color(from var(--mdc-theme-text-primary-on-background) srgb r g b / 0.23);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-text-primary-on-background);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text,
.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
    color: var(--mdc-theme-text-secondary-on-background);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: var(--mdc-theme-primary);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
    fill: var(--mdc-theme-text-secondary-on-background);
}

#app .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--mdc-theme-text-primary-on-background);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__affix--suffix {
    color: var(--mdc-theme-text-secondary-on-background);
}

.mdc-menu .mdc-deprecated-list {
    color: var(--mdc-theme-text-primary-on-background);
}

/* Changing MDC values */
.mdc-text-field--outlined,
.mdc-select--outlined .mdc-select__anchor {
    height: 40px;
}

/* Buttons */
#new-aura,
#new-aura .mdc-button__ripple {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#remove-auras,
#remove-auras .mdc-button__ripple {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

#remove-auras {
    --mdc-theme-primary: var(--mdc-theme-error);
}